html, body, div,h1, h2, h3, h4, h5, h6, p,a,
img,ol, ul, li,form, label,table, caption, tbody,
tfoot, thead, tr, th, td,footer, header,menu,
nav{
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
header {
    background-color: #000000;
    margin-bottom: 20px;
}
.clear {
    margin-bottom: 0;
}
.border {
    padding-bottom: 40px;
    border-bottom: solid;
    border-width: 1px;
    border-color: gainsboro;
}
footer p {
    padding-top: 20px;
}