header {
    background-color: #000000;
    margin-bottom: 20px;
}
/*.logo {
    //height: 55px;
    //width: 135px;
    float:left;
    font-size: 25px;
    color: #888888;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    //color: #888888;
}
.logo:hover
{
    text-decoration: none;
    color: #888888;
}
li {
    list-style: none;
    float: left;
    margin-left: 20px;
}
.inp
{
    //width: 50px;
}
*/