/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 Jul, 2015, 6:29:38 PM
    Author     : webonise
*/
* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
}

.container {
    width :940px;
    margin:0 auto;
}

.logo {
    height: 55px;
    width: 135px;
    float:left;
    background-color: #ecab1f;
    box-sizing: border-box;
}

.clear {
    clear: both;
}
ul {
    list-style: none;
    float:left;
    margin-left: 20px;
}
header ul {
    //padding-top:19px;
}
li {
    color:#000000;
    float:left;
    font-family: sans-serif;
    font-size: 16px;
    margin-left: 30px;
}
a {
    text-decoration: none;
    color: #000000;    
    display: block;
}
header a {
    padding-top: 19px;
    padding-bottom: 18px;
    display: block;
}
.banner {
    background-color: black;   
}
.banner .container {
    position: relative;
}
.banner img {
    width: 100%;
}
.banner h1 {
    color: #ffffff;
    font-size: 44px;
}
.banner p {
    color: #ffffff;
    font-size: 22px;
}
.wrapper {
    position: absolute;
    bottom: 30px;
    left: 0px;
}
.menu {
    background-color: #ecab1f;
}
form {
    margin-top: 8px;
    padding-top: 0px;
    float:right;
    border: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    width:240px;
    height:40px;
    display: inline-block;
}
.text {
    border: 0px;
    padding: 0px;
    height: 40px;
    width:200px;
    border-radius: 5px;
    float: left;    
}
.search {
    height:40px;
    width:40px;
    float: right;
    background: none;
    background: url(search.png) no-repeat ;
    border: none;
    outline: none;
}
.box {
        width: 220px; 
        height: 60px;         
        border-radius: 5px;         
        background-color: #ffffff;
        color: #000000;
        display: block;
}
.menu img {
    float:right;
    padding-top: 16px;
    padding-right: 5px;
}
.menu li {
    margin-right: 20px;
    margin-left: 0px;
}
.menu li:last-child {
    margin-right: 0px;
}
.menu ul
{
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}
.inner
{
    float : left;
    padding-top: 20px;
    padding-left: 10px;
}
.happening h2 {
    color: #888888;
    font-size: 40px;
    font-family: sans-serif;
    padding-top: 60px;
    margin-top:0px;
    margin-bottom: 15px;
}
.happening ul {
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 110px;
}
.happening li {
    margin-right: 20px;
    margin-left: 0px;
    width: 300px;
    background-color: #4466ff;
}

.happening li:last-child {
    margin-right: 0px;
}
.outer
{
    color: white;
}
.small {
    font-size: 11px;
    padding-top: 15px;
    padding-left: 10px;
    display: block;
}
.desc {
    font-size: 18px;
    display: block;
    padding-bottom: 15px;
    padding-left: 10px;
}


.arrow {
    background: url(arrow.png) no-repeat;
    width: 27px;
    height: 28px;
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 16px;  
}
